@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn-animate-hover {
    @apply flex-row items-center justify-center gap-2 lg:gap-4 font-semibold transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-125  sm:block sm:justify-start md:flex lg:flex;
  }
}
